<!DOCTYPE html>
<html lang="ru-RU">
<head><% var title = title || 'Join The Dark Side' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Контекстная реклама, продвижение товаров и услуг в интернете, создание landing page, интернет-магазины, сайты.">
    <meta name="keywords" content="seo продвижение сайта яндекс.директ директ adwords директолог direct">
    <meta property="og:image" content="/favicon.ico" />
    <title><%= title %></title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="css/style.min.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="icon" href="/favicon.ico"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target="#navbar">
<div class="navbar-wrapper" id="navbar">
    <nav class="navbar navbar-inverse nav-tabs navbar-static-top" role="tablist">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-capitalize" href="#">Dark side</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#intro">Домой</a></li>
                    <li><a href="#principles">Наши принципы</a></li>
                    <li><a href="#tariffs">Тарифы</a></li>
                    <li><a href="#work">Как мы работаем</a></li>
                    <li><a href="#team">Наша команда</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<header class="intro text-center white" id="intro" role="presentation">
    <div class="intro-bg"></div>
    <div class="intro-container">
        <h1 class="text-uppercase vcenter"><%= title %></h1>

        <div class="container text-center">
            <button class="btn btn-rectangle-lg" role="button">Свяжитесь с нами!</button>
        </div>
    </div>
</header>

<main role="main">
    <section class="white">
        <div class="container text-center">
            <h1 class="text-uppercase">Обращайся, если Тебе нужны:</h1>
            <hr class="subtitle-divider"/>
            <ol class="list-work">
                <li>
                    <p>Контекстная реклама Яндекс.Директ и Google Adwords<br/>
                        Создание, реанимация, управление<br/>
                        Работаем в любой нише в любой с стране.<br/>
                        Фокусируемся на ROI<br/>
                        <span class="price">от 7 000 руб.</span>
                </li>
                <li>
                    <p>Создание быстрых сайтов с уникальным дизайном.<br/>
                        Landing page, многостраничные сайты, интернет магазины.<br/>
                        SEO в подарок!<br/>
                        <span class="price">от 6 000 руб.</span>
                </li>
            </ol>
        </div>
    </section>

    <section class="container text-center" id="principles">
            <h1 class="text-uppercase">Наши принципы</h1>
            <hr class="subtitle-divider"/>
            <ul class="list-unstyled principles-list">
                <li>Комплексный подход во всем</li>
                <li>Отказ от любых шаблонов</li>
                <li>Работа на доверии</li>
                <li>Гарантия возврата денег</li>
                <li>Объясним и проконсультируем по смежным вопросам</li>
                <li>Лучшая реклама - довольный клиент</li>
            </ul>
    </section>

    <section class="white text-center" id="tariffs">
        <div class="container">
            <h1 class="text-uppercase">Тарифные планы</h1>
            <hr class="subtitle-divider"/>

            <div class="row">
                <div class="col-lg-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3 class="text-uppercase">Старт</h3>
                            <small>Для начинащих проектов <br/><strong>(до 6 месяцев)</strong></small>
                            <br/>

                            <p>Идеален для узких ниш и пробы ниши. Количество ключевых фраз и уникальных объявлений до
                                25.
                                Настройка РК Яндекс Директ, Установка Я.Метрики (+ВебВизор), 6 дня для настройки
                                максимум,
                                сопровождение РКЯ 5 дней </p><br/>
                            <a href="javascript:void(0)" class="btn btn-rectangle-sm" role="button">Заказать</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="thumbnail gray" style="border:none">
                        <div class="caption">
                            <h3 class="text-uppercase">Оптима</h3>
                            <small>Для устоявшихся проектов <br/><strong>(от 6 месяцев до 2 лет)</strong></small>
                            <br/>

                            <p>Количество ключевых фраз и уникальных объявлений до 100. Настройка РК Яндекс Директ,
                                Установка Я.Метрики (+ВебВизор), 5 дней для настройки максимум, сопровождение РКЯ 10
                                дней. </p><br/>
                            <a href="javascript:void(0)" class="btn btn-rectangle-sm" role="button">Заказать</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3 class="text-uppercase">Макси</h3>
                            <small>Для успешных проектов <br/><strong>(больше двух лет)</strong></small>
                            <br/>

                            <p>Создание Рекламной Кампании. Количество ключевых фраз и уникальных объявлений до 200.
                                Установка Я.Метрики (+ВебВизор), Создание и настройка Google AdWords, Помощь в
                                увеличении
                                конверсии. Создание лэндинга. SEO в подарок. Сопровождение РКЯ месяц.</p><br/>
                            <a href="javascript:void(0)" class="btn btn-rectangle-sm" role="button">Заказать</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="container text-center" id="work">
        <h1 class="text-uppercase">Схема работы</h1>
        <hr class="subtitle-divider"/>
        <ol class="list-work2">
            <li>
                <p>Обсуждаем все вопросы по заказу (встреча, скайп, телефон)</p>
            </li>
            <li>
                <p>Заполняете brief на услугу оплачиваете 30%</p>
            </li>
            <li>
                <p>Утверждаете работу и оплачиваете остаток</p>
            </li>
            <li>
                <p>Дальнейшие консультации бесплатно</p>
            </li>
            <p>(схему можно подстроить под Вас при необходимости)</p>
        </ol>
    </section>

    <section class="white" id="team">
        <div class="container text-center">
            <h1 class="text-uppercase ">Наша команда</h1>
            <hr class="subtitle-divider"/>
            <ul class="list-inline ">
                <li class=" col-xs-12 col-sm-6">
                    <img class="img-circle" src="img/characters/andrey.jpg" alt="Andrey Pavlov"
                         width="128px" height="128px"/>

                    <h2 class="text-capitalize">Павлов Андрей</h2>
                    <h4>Дизайн, верстка, HTML5/CSS3</h4>
                </li>
                <li class="col-xs-12 col-sm-6">
                    <img class="img-circle" src="img/characters/azamat.jpg" alt="Azamat Salavatov"
                         width="128px" height="128px">

                    <h2 class="text-capitalize">Азамат Салаватов</h2>
                    <h4>Стратегия, директолог, СМО</h4>
                </li>
            </ul>
        </div>
    </section>
</main>
<!-- /.container -->
<!-- FOOTER -->

<footer>
    <div class="container">
        <ul class="list-inline text-center footer-contact-list col-xs-12 col-md-9">
            <li class="text-center col-xs-12 col-sm-4">
                <i class="fa fa-phone fa-4x"></i>
                <address>
                    <p><strong>Телефон:</strong><br/>
                        +7 (812) 965-08-69
                    </p>
                </address>
            </li>
            <li class="text-center col-xs-12 col-sm-4">
                <address>
                    <i class="fa fa-envelope fa-4x"></i>
                    <p><strong>Почта:</strong><br/>
                        azamatus@gmail.com
                    </p>
                </address>
            </li>
            <li class="text-left col-xs-12 col-sm-4">
                <div class="col-xs-offset-4 col-sm-offset-4">
                    <p class="footer-menu-header">Меню</p>
                    <ul class="list-unstyled footer-menu">
                        <li><a href="#">Наверх</a></li>
                        <li><a href="#principles">Наши принципы</a></li>
                        <li><a href="#tariffs">Тарифы</a></li>
                        <li><a href="#work">Как мы работаем</a></li>
                        <li><a href="#team">Наша команда</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="col-xs-12 col-md-3 text-center container">
            <ul class="list-inline icon-list col-xs-12">
                <li class="col-xs-offset-2 col-xs-4 col-sm-offset-9 col-sm-1 col-md-offset-0 col-md-6">
                    <a href="https://vk.com/joindarksidee">
                        <img src="img/social-icons/vk.png" alt="Вконтакте" height="50px"/>
                    </a>
                </li>
                <li class="col-xs-4 col-sm-2">
                    <a href="http://facebook.com/">
                        <img src="img/social-icons/facebook.png" alt="Facebook" height="50px"/>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-lg-12">
            <p>© <%= new Date().getFullYear() %> <%= title %></p>
        </div>
    </div>
</footer>

<!-- MODAL -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal">
    <div class="modal-dialog">
        <div class="modal-content contact">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center contact-title">Оставьте заявку</h4>
            </div>
            <div class="modal-body text-center">
                <form id="contact" action="" method="post">
                    <fieldset>
                        <label for="inputName"></label>
                        <input type="text" id="inputName" placeholder="Имя" tabindex="1" autofocus/>
                    </fieldset>
                    <fieldset>
                        <label for="inputEmail"></label>
                        <input type="email" id="inputEmail" placeholder="Email" tabindex="2"/>
                    </fieldset>
                    <fieldset>
                        <label for="inputTel"></label>
                        <input type="tel" id="inputTel" placeholder="Телефон*" tabindex="4"
                               pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required/>
                    </fieldset>
                    <fieldset>
                        <label for="inputComment"></label>
                        <textarea id="inputComment" placeholder="Сообщение" tabindex="5" required></textarea>
                    </fieldset>
                    <button type="submit" id="inputSubmit" data-loading-text="Отправляется"
                            class="btn btn-rectangle-lg">Отправить
                    </button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter33537228 = new Ya.Metrika({ id:33537228, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/33537228" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script src="js/main.min.js"></script>
</body>
</html>