/* MIXINS
-------------------------------------------------- */
/* FONTS
-------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
/* VARIABLES
-------------------------------------------------- */
/* COMMON TAGS AND CLASES
-------------------------------------------------- */
body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color: #ededed;
  font-family: 'Open Sans'; }

section {
  padding: 50px 0; }
  section h1 {
    padding-bottom: 25px; }

footer {
  padding-top: 50px; }

hr {
  border-top: 1px solid #000; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.btn-rectangle-lg, .btn-rectangle-sm {
  color: black;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: 'Open Sans';
  font-size: larger;
  background-color: #CF212F; }
  .btn-rectangle-lg:hover, .btn-rectangle-sm:hover {
    background-color: #e1424f;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
  .btn-rectangle-lg.color2:hover, .btn-rectangle-sm.color2:hover {
    background-color: #052e55;
    color: #fdebda; }

.btn-rectangle-lg {
  padding: 15px 64px; }

.btn-rectangle-sm {
  padding: 7px 32px; }

.replies {
  border: none; }

.gray {
  background-color: #ededed; }

.white {
  background-color: white; }

.color2 {
  background-color: #021425;
  color: #fdebda; }

.bold {
  background: none;
  font-weight: bold; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100; }
  .navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0; }
  .navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px; }

/* INTRO
-------------------------------------------------- */
.intro {
  margin-top: 51px;
  width: 100%;
  height: 500px;
  color: #FFC107; }
  .intro .intro-bg, .intro .intro-container {
    left: 0;
    top: 51px;
    bottom: 0;
    right: 0;
    height: 500px;
    width: 100%;
    position: absolute; }
  .intro .intro-bg {
    z-index: 98;
    background: url(../img/intro2.jpg) no-repeat 50% 55%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    filter: url(../img/blur.svg#blur);
    overflow: hidden; }
  .intro .intro-container {
    z-index: 99;
    overflow: hidden; }
  .intro h1 {
    padding-top: 150px;
    text-shadow: 2px 2px 10px #CF212F, 0 0 5rem #021425;
    z-index: 99; }

/* MARKETING CONTENT
-------------------------------------------------- */
.marketing .col-lg-4 {
  margin-bottom: 20px; }
.marketing h2 {
  font-weight: normal; }
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px; }

/* FEAUTURETTE CONTENT
-------------------------------------------------- */
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */ }

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px; }

#principles .media {
  height: 50px; }

#tariffs .thumbnail {
  border: none; }
#tariffs .hr-wrapper {
  padding: 0 33.333333%; }
#tariffs hr {
  width: 66.66667%; }

/* CONTACT MODAL
-------------------------------------------------- */
.contact {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .contact .contact-title {
    color: #F96;
    font-size: 30px;
    font-weight: 400; }
  .contact fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%; }
  .contact input, .contact textarea {
    background: #FFF;
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    border: 1px solid #CCC;
    width: 75%;
    margin: 0 0 5px;
    padding: 10px; }
    .contact input:hover, .contact textarea:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -moz-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out; }
    .contact input:focus, .contact textarea:focus {
      outline: 0;
      border: 1px solid #999; }
  .contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none; }
  .contact ::-webkit-input-placeholder {
    color: #888; }
  .contact :-moz-placeholder {
    color: #888; }
  .contact ::-moz-placeholder {
    color: #888; }
  .contact :-ms-input-placeholder {
    color: #888; }
  .contact .alert {
    padding: 15px; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px; }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0; }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4; }

  .featurette-heading {
    font-size: 50px; } }

/*# sourceMappingURL=style.css.map */
