@charset "UTF-8";

/* MIXINS
-------------------------------------------------- */
@mixin border-radius($values) {
  -webkit-border-radius: $values;
  -moz-border-radius: $values;
  border-radius: $values;
}

@mixin icon-background($url, $move-y, $move-x: 50%) {
  background: url($url) no-repeat $move-x $move-y;
}

@mixin scale($value) {
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -ms-transform: scale($value);
  -o-transform: scale($value);
  transform: scale($value);
}

@mixin background-size($value) {
  -webkit-background-size: $value;
  -moz-background-size: $value;
  -o-background-size: $value;
  background-size: $value;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -ms-box-shadow: $value;
  -o-box-shadow: $value;
  box-shadow: $value;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

/* FONTS
-------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
//font-family: 'Comfortaa', cursive;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
//font-family: 'Open Sans';

/* VARIABLES
-------------------------------------------------- */
$color1: #CF212F;
$color2: #021425;
$color3: #FFC107;

/* COMMON TAGS AND CLASES
-------------------------------------------------- */

body {
  color: #5a5a5a;
  background-color: rgb(237, 237, 237);
  font-family: 'Open Sans';
}

main {
  .col-lg-4 {
    margin-bottom: 20px;
  }
  h2 {
    font-weight: normal;
  }
  .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
  }
}

section {
  padding: 50px 0;
  h1 {
    padding-bottom: 25px;
    &:first-child {
      padding-bottom: 0;
    }
  }
}

footer {
  background-color: $color2;
  padding-top: 50px;
  padding-bottom: 40px;
}

hr {
  border-top: 1px solid #000;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.btn-rectangle-lg, .btn-rectangle-sm {
  color: black;
  @include border-radius(0);
  font-family: 'Open Sans';
  font-size: larger;
  background-color: $color1;
  &:hover {
    background-color: lighten($color1, 10%);
    @include transition(background 0.3s ease-in-out);
  }
  &.color2:hover {
    background-color: lighten($color2, 10%);
    color: invert($color2);
  }
}

.btn-rectangle-lg {
  padding: 15px 56px;
}

.btn-rectangle-sm {
  padding: 7px 28px;
}

.replies {
  border: none;
}

.gray {
  background-color: rgb(237, 237, 237);
}

.white {
  background-color: white;
}

.color2 {
  background-color: $color2;
  color: invert($color2);
}

.bold {
  background: none;
  font-weight: bold;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  & > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar {
    background-color: $color2;
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-toggle {
    border: none;
    &:focus {
      background-color: transparent;
    }
  }
}

/* INTRO
-------------------------------------------------- */
.intro {
  margin-top: 51px;
  width: 100%;
  height: 500px;
  color: $color3;
  background: url(../img/intro2.jpg) no-repeat 50% 55%;
  @include background-size(cover);
  .intro-bg, .intro-container {
    left: 0;
    top: 51px;
    bottom: 0;
    right: 0;
    height: 500px;
    width: 100%;
    position: absolute;
  }
  .intro-bg {
    z-index: 98;
    background: url(../img/intro2.jpg) no-repeat 50% 55%;
    @include background-size(cover);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    filter: url(../img/blur.svg#blur);
    overflow: hidden;
    padding: 10px 10px;
  }
  .intro-container {
    z-index: 99;
    overflow: hidden;
  }
  h1 {
    padding-top: 150px;
    text-shadow: 2px 2px 10px $color1, 0 0 5rem $color2;
    z-index: 99;
  }
}

/* MAIN CONTENT
-------------------------------------------------- */

.divider {
  margin: 80px 0;
}

.subtitle-divider {
  width: 20%;
  border-top: 1px solid #DDDDDD;
  padding-bottom: 25px;
}

.heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

#principles {
  span {
    color: black;
  }
  .media {
    height: 50px;
  }
}

#tariffs {
  .thumbnail {
    border: none;
  }
  .hr-wrapper {
    padding: 0 33.333333%;
  }
}


.list-work {
  padding: 0;
  list-style: none;
  counter-reset: li;

  li {
    line-height: 30px;
    color: #777;
    margin-bottom: 25px;
    padding: 20px 20px 20px 94px;
    box-sizing: border-box;
    min-height: 105px;
    position: relative;
    p {
      padding-top: 2rem;
      font-size: 3rem;
    }
    &:nth-child(even) {
      background: #ccc;
    }
  }
  & > li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    font-size: 12rem;
    font-family: arial;
    opacity: 0.1;
    left: 1rem;
    top: 3.75rem;
  }
}



/* FOOTER
-------------------------------------------------- */
.icon-list {
  li {
    a {
      img {
        &:hover {
          opacity: 0.8;
          @include scale(1.2);
          @include transition(all 0.3s ease-in-out);
        }
      }
    }
  }
}

.footer-contact-list {
  color: #f5f5f5;
}

.footer-menu-header {
  font-size: 2rem;
}

.footer-menu {
  color: #337ab7;
  font-size: 1.5rem;
}

/* CONTACT MODAL
-------------------------------------------------- */
.contact {
  //background: #F9F9F9;
  @include border-radius(0);
  .contact-title {
    color: #F96;
    font-size: 30px;
    font-weight: 400;
  }
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  input, textarea {
    background: #FFF;
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    border: 1px solid #CCC;
    width: 75%;
    margin: 0 0 5px;
    padding: 10px;
    &:hover {
      @include transition(border-color 0.3s ease-in-out);
    }
    &:focus {
      outline: 0;
      border: 1px solid #999;
    }
  }
  textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  ::-webkit-input-placeholder {
    color: #888;
  }
  :-moz-placeholder {
    color: #888;
  }
  ::-moz-placeholder {
    color: #888;
  }
  :-ms-input-placeholder {
    color: #888;
  }
  .alert {
    padding: 15px;
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .heading {

  }
}
