@charset "UTF-8";

/* MIXINS
-------------------------------------------------- */
@mixin border-radius($values) {
  -webkit-border-radius: $values;
  -moz-border-radius: $values;
  border-radius: $values;
}

@mixin icon-background($url, $move-y, $move-x: 50%) {
  background: url($url) no-repeat $move-x $move-y;
}

@mixin transform($value) {
  transform: scale($value);
  -webkit-transform: scale($value);
  -o-transform: scale($value);
  -moz-transform: scale($value);
}

@mixin background-size($value) {
  -webkit-background-size: $value;
  -moz-background-size: $value;
  -o-background-size: $value;
  background-size: $value;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -ms-box-shadow: $value;
  -o-box-shadow: $value;
  box-shadow: $value;
}

/* FONTS
-------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
//font-family: 'Comfortaa', cursive;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
//font-family: 'Open Sans';

/* VARIABLES
-------------------------------------------------- */
$color1: #CF212F;
$color2: #021425;
$color3: #FFC107;


/* COMMON TAGS AND CLASES
-------------------------------------------------- */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color: rgb(237, 237, 237);
  font-family: 'Open Sans';
}

section {
  padding: 50px 0;
  h1 {
    padding-bottom: 25px;
  }
  &:last-child {
    padding-bottom: 0;
  }
}

footer {
  padding-top: 50px;
}

hr {
  border-top: 1px solid #000;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.btn-rectangle-lg, .btn-rectangle-sm {
  color: black;
  @include border-radius(0);
  font-family: 'Open Sans';
  font-size: larger;
  background-color: $color1 ;
  &:hover {
    background-color: lighten($color1 , 10%);

  }
  &.color2:hover {
    background-color: lighten($color2, 10%);
    color: invert($color2);

  }
}

.btn-rectangle-lg {
  padding: 15px 64px;
}

.btn-rectangle-sm {
  padding: 7px 32px;
}

.replies {
  border: none;
}

.gray {
  background-color: rgb(237, 237, 237);
}
.white {
  background-color: white;
}
.color2 {
  background-color: $color2;
  color: invert($color2);
}
.bold {
  background: none;
  font-weight: bold;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  & > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* INTRO
-------------------------------------------------- */
.intro {
  margin-top: 51px;
  width: 100%;
  height: 500px;
  background: url(../img/intro4.jpg) no-repeat 50% 40%;
  @include background-size(cover);
  color: $color3;
  h1 {
    padding-top: 150px;
  }
}

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing {
  .col-lg-4 {
    margin-bottom: 20px;
  }
  h2 {
    font-weight: normal;
  }
  .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
  }
}

/* FEAUTURETTE CONTENT
-------------------------------------------------- */
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



#principles {
  .media {
    height: 50px;
  }
}

#tariffs {
  .thumbnail {
    border: none;
  }
  .hr-wrapper {
    padding: 0 33.333333%;
  }
  hr {
    width: 66.666666%
  }
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar {
      padding-right: 0;
      padding-left: 0;
    }
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    //margin-top: 120px;
  }
}

