@charset "UTF-8";

/* MIXINS
-------------------------------------------------- */
@mixin border-radius($values) {
  -webkit-border-radius: $values;
  -moz-border-radius: $values;
  border-radius: $values;
}

@mixin icon-background($url, $move-y, $move-x: 50%) {
  background: url($url) no-repeat $move-x $move-y;
}

@mixin flex($value) {
  -webkit-flex: $value;
  -moz-flex: $value;
  -ms-flex: $value;
  -o-flex: $value;
  flex: $value;
}

@mixin flex-wrap($value) {
  -webkit-flex-wrap: $value;
  -moz-flex-wrap: $value;
  -ms-flex-wrap: $value;
  -o-flex-wrap: $value;
  flex-wrap: $value;
}

@mixin flex-direction($value) {
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  -o-flex-direction: $value;
  flex-direction: $value;
}

@mixin scale($value) {
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -ms-transform: scale($value);
  -o-transform: scale($value);
  transform: scale($value);
}

@mixin background-size($value) {
  -webkit-background-size: $value;
  -moz-background-size: $value;
  -o-background-size: $value;
  background-size: $value;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -ms-box-shadow: $value;
  -o-box-shadow: $value;
  box-shadow: $value;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

/* FONTS
-------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
@import url(https://fonts.googleapis.com/css?family=Oswald:400);
@import url(../font/bitter.css);

/* VARIABLES
-------------------------------------------------- */
$color1: #CF212F;
$color2: #021425;
$color3: #FFC107;

/* COMMON TAGS AND CLASES
-------------------------------------------------- */

body {
  color: #5a5a5a;
  background-color: #ededed;
  font-family: 'Open Sans';
}

section {
  padding: 50px 0;
}

hr {
  border-top: 1px solid #000;
}

.btn:focus, .btn:active {
  outline: none !important;
}

.btn-default-lg {
  font-weight: bold;
  margin-top: auto;
  padding: 1em 2em;
  color: #fff;
  border-radius: 30px;
  background: #E03E3E;
  @include transition(background-color .3s);
  &:hover, &:focus {
    background-color: #C53737;
    color: white;
  }
}

.btn-default-lg {
  padding: 1em 2.5em;
}

.gray {
  background-color: #ededed;
}

.white {
  background-color: #fefefe;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  & > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    @include box-shadow(0 0 3px #000);
    a {
      color: #000;
    }
    .active > a {
      background-color: #E03E3E;
    }
  }
  .navbar-toggle {
    border: none;
    padding: 0;
    &:focus {
      background-color: transparent;
    }
  }
}

/* INTRO
-------------------------------------------------- */
$headerHeight: 75vh;
.intro {
  width: 100%;
  height: $headerHeight;
  min-height: 530px;
  color: $color3;
  background: url(../img/intro2.jpg) no-repeat 50% 55%;
  @include background-size(cover);
  .intro-bg, .intro-container {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: $headerHeight;
    min-height: 530px;
    width: 100%;
    position: absolute;
  }
  .intro-bg {
    z-index: 98;
    background: url(../img/intro2.jpg) no-repeat 50% 55%;
    @include background-size(cover);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    filter: url(../img/blur.svg#blur);
    overflow: hidden;
    padding: 10px 10px;
  }
  .intro-container {
    z-index: 99;
    overflow: hidden;
    padding: 7vh 0;
  }
  h1 {
    font-family: 'Open Sans';
    padding-top: 150px;
    text-shadow: 2px 2px 10px $color1, 0 0 5rem $color2;
    z-index: 99;
  }
  .title {
    font-family: 'Bitter', normal;
    font-size: 3rem;
    margin-top: 50px;
    text-shadow: 1px 1px 1px black, 0 0 3px black;
  }
  .row {
    margin-bottom: 50px;
  }
}

.banner {
  position: relative;
  z-index: 1;
  margin: 80px auto;
  font-family: 'Oswald', 'Helvetica Neue', Helvetica;
  width: 330px;
  .line {
    margin: 0 0 10px;
    width: 100%;
    height: 78px;
    @include box-shadow(10px 10px 10px rgba(0, 0, 0, 0.05));
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 78px;
    @include transform(skew(0, -15deg));
    &:after, &:first-child:before {
      position: absolute;
      top: 44px;
      left: 0;
      z-index: -1;
      display: block;
      width: 330px;
      height: 78px;
      @include border-radius(4px);
      background: rgba(180, 180, 180, 0.8);
      content: '';
      @include transform(skew(0deg, 15deg));
    }
    &:first-child:before {
      top: -10px;
      right: 0;
      left: auto;
    }
    &:first-child:before,
    &:last-child:after {
      width: 0;
      height: 0;
      border-width: 38px;
      border-style: solid;
      border-color: rgba(180, 180, 180, 0.8) rgba(180, 180, 180, 0.8) transparent transparent;
      background: transparent;
    }
    &:last-child:after {
      top: 12px;
      border-color: transparent transparent rgba(180, 180, 180, 0.8) rgba(180, 180, 180, 0.8);
    }
  }
  span {
    display: block;
    width: 100%;
    height: 100%;
    @include border-radius(4px);
    background: rgba(255, 255, 255, 0.9);
    color: #666;
    text-shadow: 1px 1px 0 #444;
  }
}

/* MAIN CONTENT
-------------------------------------------------- */

.subtitle-divider {
  width: 20%;
  border-top: 1px solid #DDDDDD;
  padding-bottom: 25px;
}

#tariffs {
  .pricing .pricing__sentence {
    height: 2em;
  }
}

#adv-tariffs {
  .pricing .pricing__title {
    height: 3em;
  }
}

.principles-list {
  li {
    @include transition(all 0.3s ease-in-out);
    font-size: 2rem;
    padding: 1rem 0;
    margin: 2px;
    &:before {
      font-family: 'Glyphicons Halflings';
      content: "\e125";
      color: #6da768;
      padding-right: .5rem;
    }
    &:hover {
      @include transform(scale(1.1));
    }
  }
}

.list-work {
  padding: 0;
  list-style: none;
  counter-reset: li;
  li {
    line-height: 30px;
    color: #777;
    margin-bottom: 25px;
    padding: 20px 20px 20px 94px;
    min-height: 105px;
    position: relative;
    p {
      padding-top: 2rem;
      font-size: 3rem;
    }
    &:nth-child(even) {
      background: #ccc;
    }
    &:before {
      position: absolute;
      font-size: 12rem;
      font-family: arial;
      opacity: .1;
    }
  }
}

.list-work {
  li {
    &:nth-child(even) {
      &:after {
        position: absolute;
        font-size: 12rem;
        font-family: arial;
        opacity: .1;
        content: counter(li);
        counter-increment: li;
        top: 3.75rem;
        right: 1rem;
      }
    }
    &:nth-child(odd) {
      &:before {
        content: counter(li);
        counter-increment: li;
        top: 3.75rem;
        left: 1rem;
      }
    }

  }
}

/* FOOTER
-------------------------------------------------- */
footer {
  background-color: $color2;
  padding: 40px 0;
}

.footer-contact-list {
  color: #f5f5f5;
  address a {
    color: whitesmoke;
  }
  i {
    margin-bottom: .5em;
  }
}

.footer-menu-header {
  font-size: 2rem;
}

.footer-menu {
  color: #337ab7;
  font-size: 1.5rem;
}

/* CONTACT MODAL
-------------------------------------------------- */
.contact {
  @include border-radius(0);
  .contact-title {
    color: #F96;
    font-size: 30px;
    font-weight: 400;
  }
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  input, textarea {
    background: #FFF;
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    border: 1px solid #CCC;
    width: 75%;
    margin: 0 0 5px;
    padding: 10px;
    &:hover {
      @include transition(border-color 0.3s ease-in-out);
    }
    &:focus {
      outline: 0;
      border: 1px solid #999;
    }
  }
  textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  ::-webkit-input-placeholder {
    color: #888;
  }
  :-moz-placeholder {
    color: #888;
  }
  ::-moz-placeholder {
    color: #888;
  }
  :-ms-input-placeholder {
    color: #888;
  }
  .alert {
    padding: 15px;
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .navbar-wrapper {
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .list-work {
    li {
      padding: 30px 10px;
    }
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .intro {
    max-height: 100vmax;
    .intro-container {
      padding: 0;
    }
  }
  .banner {
    width: 250px;
    .line {
      height: 65px;
      line-height: 65px;
      &:first-child:before,
      &:last-child:after {
        border-width: 34px;
      }
      &:after, &:first-child:before {
        height: 60px;
      }
      &:after {
        width: 250px;
        @include transform(skew(0deg, 17deg));
      }
    }
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .banner {
    width: 250px;
    .line {
      &:after {
        width: 250px;
        @include transform(skew(0deg, 20deg));
      }
    }
  }
}

@media (max-width: 1200px) {
  .intro {
    height: 100vh;
    .intro-bg, .intro-container {
      height: 100vh;
    }
  }
}

@media (max-width: 920px) {
  .intro {
    max-height: 800px;
    .intro-bg, .intro-container {
      max-height: 800px;
    }
  }
}

.pricing {
  display: -webkit-flex;
  display: flex;
  @include flex-wrap(wrap);
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 3em;
  &__item {
    position: relative;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    align-items: stretch;
    text-align: center;
    @include flex(0 1 330px);
    font-family: 'Roboto', sans-serif;
    padding: 2em 4em;
    cursor: default;
    color: #262b38;
    max-width: 320px;
    border-right: 1px solid rgba(139, 144, 157, 0.18);
    &:last-child {
      border-right: none;
    }
  }
  &__feature-list {
    text-align: left;
  }
  &__action {
    color: inherit;
    border: none;
    background: none;
    &:focus {
      outline: none;
    }
  }
  &__title {
    font-size: 1em;
    margin: 1.5em 0 0;
  }
  .icon {
    font-size: 2.5em;
    color: #8b909d;
    @include transition(color .3s);
  }
  &__item:hover .icon {
    color: #E03E3E;
  }
  &__price {
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0 0.75em;
    overflow: hidden;
  }
  &__currency {
    font-size: 0.6em;
  }
  &__period {
    font-size: 0.35em;
    color: #8b909d;
  }
  &__anim {
    display: inline-block;
    position: relative;
  }
  &__item:hover &__anim {
    -webkit-animation: moveUp .5s forwards;
    -o-animation: moveUp .5s forwards;
    animation: moveUp .5s forwards;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  &__item:hover &__anim--2 {
    -webkit-animation-delay: .05s;
    -moz-animation-delay: .05s;
    -o-animation-delay: .05s;
    animation-delay: .05s;
  }
  &__sentence {
    font-weight: bold;
    margin: 0 0 1em 0;
    padding: 0 0 .5em;
    color: #8b909d;
  }
  &__feature-list {
    font-size: 0.85em;
    margin: 0;
    padding: .25em 0 2.5em;
    list-style: none;
    text-align: center;
    color: #8b909d;
  }
  &__action {
    margin-top: auto;
    color: #fff;
    border-radius: 30px;
    background: #E03E3E;
  }
  &__action:hover,
  &__action:focus {
    background-color: #C53737;
    color: white;
  }
  &__button-wrapper {
    margin-top: auto;
  }
}

@-webkit-keyframes moveUp {
  50% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  52% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes moveUp {
  50% {
    @include transform(translate3d(0, -100%, 0));
  }
  51% {
    opacity: 0;
    @include transform(translate3d(0, -100%, 0));
  }
  52% {
    opacity: 1;
    @include transform(translate3d(0, 100%, 0));
  }
  100% {
    @include transform(translate3d(0, 0, 0));
  }
}

@media (max-width: 60em) {
  .pricing__item {
    max-width: none;
    width: 100%;
    @include flex(none);
    border: none !important;
    opacity: 1 !important;
  }
}
